@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name=”viewport” content=” width=device-width, initial-scale=1.0″>
    <title>Thông tin đặt phòng</title>
    <link rel="stylesheet" href="~/Content/css/style_DatPhong.css" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body onload="getDate()">
    <form action="~/datPhong/XuLy?keyp=@ViewBag.keyp&Keyks=@ViewBag.keyks" method="post" name="formNhap" id="formNhap">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <div class="head">
            <nav style="background-color:white">
                <div class="container">
                    <img src="~/Content/Image/full image/Logo.png" style="margin-left:80px; height:50px" />
                    <img src="~/Content/Image/full image/LogoRight.PNG" style="margin-right:80px;height:50px" align="right" />
                </div>
            </nav>
        </div>
        <br /><br />
        <div>
            <div class="l">
                <div class="form">
                    <div style="margin-left:30px">
                        <h2>Thông tin đặt phòng</h2><br />
                        <h5 style="border-bottom:orange 1px solid; width:250px">Thông tin người đặt phòng</h5><br />
                        <table border="0" width="800px">
                            <tr>
                                <td width="100px">
                                    <h6>Danh xưng <i style="color:red">*</i></h6>
                                    <select class="box" name="gtnguoidat" style="width:80px">
                                        <option value="1"> Anh</option>
                                        <option value="2"> Chị</option>
                                        <option value="3"> Khác</option>
                                    </select>
                                </td>
                                <td colspan="2">
                                    <h6>Họ và tên <i style="color:red">*</i></h6>
                                    <input id="tennguoidat" name="tennguoidat" type="text" class="box" placeholder=" Họ và tên" style="width:650px" pattern="\S+.*" title="Tên không bao gồm số và chữ cái đặc biệt"><br />
                                    <script>
                                        function check(e) {
                                            var tenND = document.getElementById("tennguoidat");
                                            if (tenND.value == "") {
                                                alert("Tên người đặt phòng không được để trống");
                                                e.preventDefault();
                                                return false;
                                            }
                                        }
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" width="400px">
                                    <div style="margin-top:10px">
                                        <h6>Số điện thoại <i style="color:red;">*</i></h6>
                                        <div class="input-group mb-3" style="margin-top:0px">
                                            <span class="input-group-text" id="basic-addon1"> (+84) </span>
                                            <input id="sdtnguoidat" name="sdtnguoidat" type="text" class="box" placeholder="Số điện thoại" style="width:300px" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="(\+84|0)\d{9}" title="Số điện thoại gồm 10 số và phải bắt đầu bằng số 0">
                                        </div>
                                    </div>
                                </td>
                                <td width="400px">
                                    <div style="margin-bottom:5px;margin-right:5px">
                                        <h6>Email<i style="color:red">*</i></h6>
                                        <input id="emailnguoidat" name="emailnguoidat" type="email" class="box" aria-label="Text input with dropdown button" placeholder=" Email" style="width:350px"><br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div style="">
                                        <p>
                                            <br />
                                            <input id="Checkbox1" name="Checkbox1" class="btn btn-primary" type="checkbox" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" value="true" checked="checked" /> Tôi là người nhận phòng<br />
                                        </p>
                                        <div class="collapse" id="collapseExample">
                                            <div class="card card-body" style="border:none;background:none;margin-right:-35px">
                                                <table border="0" width="800px">
                                                    <tr>
                                                        <td colspan="3">
                                                            <p style="margin-bottom:-20px"><h6 style="border-bottom:1px solid orange;width:230px">Thông tin người nhận phòng 1</h6></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="400px">
                                                            <h6>Họ và tên</h6>
                                                            <input id="tennguoinhan" name="tennguoinhan" type="text" class="box" aria-label="Text input with dropdown button" placeholder=" Họ và tên" style="width:380px">
                                                        </td>
                                                        <td>
                                                            <div style="margin-top:10px">
                                                                <h6>Số điện thoại</h6>
                                                                <div class="input-group mb-3" style="margin-top:0px">
                                                                    <span class="input-group-text" id="basic-addon1"> (+84) </span>
                                                                    <input id="sdtnguoinhan" name="sdtnguoinhan" type="text" class="box" placeholder="Số điện thoại" style="width:270px" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="(\+84|0)\d{9}" title="Số điện thoại gồm 10 số và phải bắt đầu bằng số 0">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input type="button" value="Thông tin khác" class="" data-bs-toggle="collapse" data-bs-target="#components-collapse" aria-expanded="true" aria-current="true" style="color:#1890ff;border:none;background-color:none;background:none;margin-top:10px" />
                                    <div class="collapse show" id="components-collapse" style="">
                                        <ul class="list-unstyled fw-normal pb-1 small">
                                            <li style="margin-top:10px">
                                                <b>Chính sách hủy phòng</b>
                                            </li>
                                            <li style="margin-top:10px">   Không hoàn không huỷ</li>
                                            <li style="margin-top:10px">
                                                <b>Yêu cầu giường</b>
                                            </li>
                                            <li style="margin-top:4px">
                                                <select class="" id="" style="border:none;background-color: rgba(67,141,196,.1); height:30px">
                                                    <option value="1">Giường cỡ Queen & 1 Giường đôi</option>
                                                </select>
                                            </li>
                                            <li style="margin-top:10px"> Yêu cầu đặc biệt</li>
                                            <li style="margin-top:4px"><textarea placeholder=" Yêu cầu đặc biệt" rows="3" class="ant-input" style="width:750px"></textarea></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <button onclick="check()" type="submit" style="background-color:orange;color:white;float:right;border:none; height:40px;width:200px;margin-right:30px;border-radius:5px">TIẾP TỤC</button>
                </div>
            </div>
            <div class="r">
                <div class="form1">
                    @foreach (var i in ViewBag.AnhPhong)
                    {
                        <img src="@i.linka" alt="" width="345" height="180" />
                    }
                    <br />
                    <div style="margin-left:20px">
                        <script>
                            function change() {
                                var ngaynhanphongmoi = document.getElementById("ngaynhanphongmoi");
                                var ngaytraphongmoi = document.getElementById("ngaytraphongmoi");
                                var ngaynhanphongcu = document.getElementById("ngaynhanphongcu");
                                var ngaytraphongcu = document.getElementById("ngaytraphongcu");
                                var songay = document.getElementById("songay");

                                ngaynhanphongcu.value = ngaynhanphongmoi.value;
                                ngaytraphongcu.value = ngaytraphongmoi.value;
                                songay.value = (ngaynhanphongcu.value) - (ngaytraphongcu.value);
                                $ date + "%m-%d-%y"
                            }
                        </script>
                        <table>
                            <tr>
                                <td colspan="2">
                                    <div>
                                        <h5>
                                            @foreach (var i in ViewBag.TenKhachSan)
                                            {
                                                @i.TenKhachSan;
                                            }
                                        </h5>
                                    </div>
                                    <div>
                                        @foreach (var i in ViewBag.DiaChi)
                                        {
                                            @i.DiaChi;
                                        }
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background:none;background-color:none;color:blue;border:none;margin-left:-10px"><u>Xem bản đồ</u></a>
                                    </div>
                                    <!-- Button to Open the Modal -->
                                    <!-- The Modal -->
                                    <div class="modal fade" id="myModal">
                                        <div class="modal-dialog" style="margin-left:400px">
                                            <div class="modal-content" style="width:820px; height:auto">
                                                <div class="" style="border:none">
                                                    <h5 style="margin-top:10px;margin-left:10px">
                                                        Bản đồ khách sạn
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color:red;border-color:none;color:white;height:auto;float:right;margin-right:5px">X</button>
                                                    </h5>
                                                </div>
                                                <div align="center" style="margin-top:10px">
                                                    <div>
                                                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBAaCzG3gF-9CgHyXApQaVpaQtOANYyRNI&amp;q=21.0290238,105.8484130" width="800" height="450" frameborder="0" allowfullscreen="" title="Popup google map" style="border: 0px;">
                                                        </iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @*ngày tháng nhận trả phòng cũ--------------------------*@
                            <tr style="height:30px">
                                <td width="250px">Ngày nhận phòng:</td>
                                <td>
                                    <div style="">
                                        <input id="ngaynhanphongcu" name="ngaynhanphongcu" disabled="disabled" style="background-color:none;border:none;background:none;color:black;" value="@ViewBag.date" />
                                    </div>
                                </td>
                            </tr>
                            <tr style="height:30px">
                                <td>Ngày trả phòng:</td>
                                <td>
                                    <input id="ngaytraphongcu" name="ngaytraphongcu" value="@ViewBag.date" disabled="disabled" style="background-color:none;border:none;background:none;color:black" />
                                </td>
                            </tr>
                            <tr style="height:30px">
                                <td>Số đêm</td>
                                <td><input id="songay" value="" disabled="disabled" style="background-color:none;border:none;background:none;color:black;margin-right:20px;width:100px" /></td>
                            </tr>
                        </table>
                        <table>
                            <tr style="height:30px">
                                <td colspan="2" align="left">
                                    <input type="button" value="Sửa" style="float:right;border:none;background:none;margin-right:20px;color:blue" onclick="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" />

                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height:auto;border:none">
                                        <div class="modal-dialog" style="">
                                            <div class="modal-content" style="width:1000px; height:680px;margin-left:-200px">
                                                <div class="modal-body" style="border:none">
                                                    <div class="modal-header" style="border-bottom:none">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>

                                                    <div class="box" align="left" style="box-shadow:0 2px 8px rgba(0,0,0,.15);height:100px">
                                                        <div style=" height:100px;width:800px;">
                                                            @foreach (var i in ViewBag.AnhPhong)
                                                            {
                                                                <img src="@i.linka" alt="" width="100" height="100" style="float:left" />
                                                            }
                                                            <div style="margin-left:120px">
                                                                <h4>
                                                                    @foreach (var i in ViewBag.TenKhachSan)
                                                                    {
                                                                        @i.TenKhachSan;
                                                                    }
                                                                </h4>
                                                                @foreach (var i in ViewBag.DiaChi)
                                                                {
                                                                    @i.DiaChi;
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="box" style="box-shadow:0 2px 8px rgba(0,0,0,.15);border: 1px solid rgba(0,0,0,.15);height:100px; margin-top:15px">
                                                        <div style="margin-top:20px">
                                                            <table style="margin-top:5px;margin-left:20px">
                                                                <tr>
                                                                    <td width="250px">
                                                                        <div style="margin-top:10px">
                                                                            <b style="margin-top:40px;margin-left:50px">Ngày nhận trả phòng:</b>
                                                                        </div>
                                                                    </td>
                                                                    <td width="450px">
                                                                        @*Ngày tháng nhận trả phòng mới--------------------*@
                                                                        <div class="box" style="width:400px;margin-top:10px">
                                                                            <input id="ngaynhanphongmoi" type="date" style="border:none;margin-top:7px;margin-left:20px" />&nbsp;--&nbsp;
                                                                            <input id="ngaytraphongmoi" type="date" style="border:none" />
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div style="margin-top:7px">
                                                                            <button onclick="change()" type="button" class="box" style="background-color:green;width:150px;color:white"><b>Cập nhật</b></button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="box" style="box-shadow:0 2px 8px rgba(0,0,0,.15);border: 1px solid rgba(0,0,0,.15);height:auto; margin-top:15px">
                                                        <table width="965px" height="auto">
                                                            <tr style="background-color:gainsboro;height:40px">
                                                                <td width="350px">
                                                                    <div style="margin-left:20px"><b>Tên Phòng</b></div>
                                                                </td>
                                                                <td width="250px">
                                                                    <b>Sức Chứa</b>
                                                                </td>
                                                                <td width="200px">
                                                                    <b>Giá</b>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                            @foreach (var i in Model)
                                                            {
                                                                <tr style="background-color:lightgoldenrodyellow;height:40px">
                                                                    <td colspan="4">
                                                                        <div style="margin-left:20px">
                                                                            @*@foreach (var n in ViewBag.LoaiPhong)
                                                                            {
                                                                                @n.LoaiPhong;
                                                                            }*@
                                                                            @i.TenPhong
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr style="background-color:white;height:40px">
                                                                    <td>
                                                                        <div style="margin-left:20px">
                                                                            <p style="color:red">
                                                                                - Không hoàn hủy<br />
                                                                                - Bữa ăn: Không bao gồm
                                                                            </p>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <h6>
                                                                            @*@foreach (var j in ViewBag.SoNguoi)
                                                                            {
                                                                                @j.SoNguoi;
                                                                            }*@ 
                                                                            @i.SoNguoi
                                                                            người lớn
                                                                        </h6>
                                                                    </td>
                                                                    <td>
                                                                        <h3 style="color:orange">
                                                                            @*@foreach (var k in ViewBag.GiaPhong)
                                                                            {
                                                                                @k.Gia;
                                                                            }*@
                                                                            @i.Gia
                                                                            K
                                                                        </h3>
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" class="box" style="width:140px;background-color:orange;color:white;border:none"><b>Đặt phòng</b></button>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="color:orange; font-weight:bold; height:35px">
                                <td>Phòng: <label id="type_room" style=""></label></td>
                                <td>
                                    @foreach (var c in ViewBag.TenPhong)
                                    {
                                        @c.TenPhong;
                                    }
                                        <label id="amount_room" style=""></label>
                                    </td>
                            </tr>
                            <tr style="height:30px">
                                <td>Giá gốc chưa thuế phí</td>
                                <td>
                                    <h5 style="color:orange" id="giaPhong">
                                        @foreach (var c in ViewBag.GiaPhong)
                                        {
                                            @c.Gia;
                                        }K
                                    </h5>
                                </td>
                            </tr>
                            <tr style="height:40px">
                                <td>Thuế và phí dịch vụ khách sạn</td>
                                <td>20K</td>
                            </tr>
                            <tr style="height:40px">
                                <td colspan="2">------------------------------------------------</td>
                            </tr>

                            <tr style="height:40px">
                                <td>Giá khuyến mại</td>
                                <td>
                                    <h4 style="color:orange">
                                        @foreach (var c in ViewBag.GiaPhong)
                                        {
                                            double km = 20;
                                            km = km + @c.Gia;
                                            <b>@km K</b>
                                        }
                                    </h4>
                                </td>
                            </tr>
                            <tr style="border-top:1px solid black; color:orange;font-weight:bold;font-size:22px; height:80px">
                                <td><p>Tổng Cộng:</td>
                                <td>
                                    <h3 style="color:orange">
                                        @foreach (var c in ViewBag.GiaPhong)
                                        {
                                            double km = 20;
                                            km = km + @c.Gia;
                                            <b>@km K</b>
                                        }
                                    </h3>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="form2">
                    <p style="margin-left:15px"><br />Giá còn rẻ hơn khi nhập mã giảm giá (nếu có) ở bước sau</p>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
